html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#container {
	display: flex;
}
#Board {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
}
.cell {
	border: 0.1vmin solid #cdcdcd;
	background-color: #dcdcdc;	
	box-sizing: border-box;
	user-select: none;
	font-size: small; 
}
.available-cell {
	background-color: green;
}
.path-cell {
	border-color: black;
	background-color: lightgreen;	
}

.hero {
	position: absolute;
	z-index: 1;
	box-sizing: border-box;
	font-size: 1.5vmin;
	text-align: center;
	background-size: 100%;
}
.action {
	color: black;
	background-color: rgb(50, 230, 164);
}
.action-selected {
	color: white;
	background-color: rgb(3, 130, 83);
}

.possible-target-ally {
	border: 0.5vmin solid lightgreen;
}

.possible-target-enemy {
	border: 0.5vmin solid red;
}

.team0 {
	border: 0.5vmin solid black;
}
.team0-color {
	color: black;
	background-color: lightgray;
}

.team1 {
	border: 0.5vmin solid white;
}
.team1-color {
	color: white;
	background-color: gray;
}

.moved {
	opacity: 0.3;
}

#sidebar {
	display: flex;
	flex-direction: column;
}
#turn-sidebar {
	display: flex;
	flex-direction: column;
	background-color: lightgray;
}
#unit-stats {
	background-color: white;
}

#end {
	position: absolute;
	bottom: 0;
	right: 0;
	/* width: 10vmin;
	height: 10vmin; */
	width: 50px;
	height: 50px;	
	z-index: 10;
}
.end-red {
	background-color: rgb(207, 68, 68);
}
.end-yellow {
	background-color: rgb(227, 227, 82);
}
.end-green {
	background-color: rgb(133, 211, 16);
}

.unselectable {
	pointer-events: none;
}

.disabled {
	user-select: none;
}